.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.btn {
  transition: background-color 0.5s ease-in-out;
}

.btn:hover {
  background-color: yellowgreen;
}